/* IMPORT JQUERY UI THEME */
@import url("//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css");

/*

	Default Theme SASS

	Last date edited: 2:52pm May 26 2014
	Author: Jesse Burcsik
	Version: v2
	
	Contains (inorder): Imports + Bootstrap2.1.0 + Theme styles + Responsive styles
*/


/*

BOOTSTRAP CSS Used to be here, but was not used

*/

/*-----------------------------
X. SASS ELEMENTS (HIDDEN IN CSS)

X. SASS MIXINS (HIDDEN IN CSS)

0. HACKS AND OVERRIDES

1. TYPO

2. LAYOUT

3. MODULES

------------------------------*/

/*------------------------------------*\
    x. SASS ELEMENTS
\*------------------------------------*/

//Use these to edit the theme.

//Main Background and Block Backgrounds
$background: #777777;
$contentBackground: #fff;
$widgetBackground: #ffffff;

//Main background gradient customization
$gradientBackground: yes; //Set this to "no" or "yes" 
$gradientBackground-type: linear; //Set the type of gradient (e.g. linear, radial, etc)
$gradientBackground-angle: 50deg; //Set angle of the gradient (e.g 90deg, 45deg, etc)
$gradientBackground-colour1: #eeeeee; //Set the first colour of the gradient
$gradientBackground-colour1-location: 60%; //Set the location of colour 1
$gradientBackground-colour2: #cecece; //Set the second colour of the gradient
$gradientBackground-colour2-location: 0%; //Set the location of colour 2

//Search Field Customization
$searchPosition: default; //Set to "default" or "below" (below the banner)

//Positions content depending if the site has ads.
//"auto" for Centered, "0" for Positioning with Ads
$areThereAds: 0;

//Header and Emphasis Colours
$mainColour: #444444;
$secondColour: #BBBBBB;

//Fonts
$fontColour: #444444;
$subFontColour: #888888;

$linkColour: #767676;
$linkHoverColour: #000;
$productLinkColour: #767676;
$navLinkActive: #ffffff;
$navLinkInactive: #444444;

$headerTextColour: #444444;
$titleSize: 14pt;

$mainFont: "Helvetica Neue", Arial, sans-serif;

/***PLEASE CHANGE LOGO THROUGH e5***/
//Main Header Logo
//$headerImage: url();

/*------------------------------------*\
    x. SASS MIXINS
\*------------------------------------*/

// Mix in for creating a gradient background
@mixin gradientBackground($type, $angle, $colour1, $colour1Percent, $colour2, $colour2Percent) {
  	background: -moz-#{$type}-gradient($angle, $colour1 $colour1Percent, $colour2 $colour2Percent); /* FF3.6+ */
	background: -webkit-#{$type}-gradient($angle, $colour1 $colour1Percent, $colour2 $colour2Percent); /* Chrome10+,Safari5.1+ */
	background: -o-#{$type}-gradient($angle, $colour1 $colour1Percent, $colour2 $colour2Percent); /* Opera 11.10+ */
	background: -ms-#{$type}-gradient($angle, $colour1 $colour1Percent, $colour2 $colour2Percent); /* IE10+ */
	background: #{$type}-gradient($angle, $colour1 $colour1Percent, $colour2 $colour2Percent); /* W3C */
}


/*-----------------------------
	0. HACKS AND OVERRIDES
------------------------------*/

/*
	REMOVE ROUNDED CORNERS
------------------------------*/
b.niftycorners{
	display: none !important;
}

/*
	REMOVE TWITTER SHARE
------------------------------*/
.twitter-share-button.twitter-count-horizontal, .socialHere td div *{
	display: none !important;
}


/*
	CLASS TO MODIFY THE IMG ADDED TO THE UTILITY NAV
------------------------------*/

.HeaderText li a img{
	display: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------
	1. TYPO
------------------------------*/

html body *{
	font-family: $mainFont;
}

a, a:visited, a:link{
	color:	$linkColour;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------
	2. LAYOUT
------------------------------*/
body{
	@if $gradientBackground == yes {
		//add mixin to wrapper
		@include gradientBackground($gradientBackground-type, $gradientBackground-angle, $gradientBackground-colour1, $gradientBackground-colour1-location, $gradientBackground-colour2, $gradientBackground-colour2-location);
	}@else if $gradientBackground == no {
		background: $background;
	}
}

html body #main{
	padding:			5px 25px 30px 25px;
	position:			relative;
	width:				760px;
	margin:				$areThereAds;
	background:			$contentBackground;
}

#header{
	position:		relative;
}

html body #wrapper {	
	
}

html body #content{
	background: 		$contentBackground;
	position:			relative;
	width:				760px;
	z-index:			1 !important;
}

html body .ContentSectionWrapper{
	margin-top: 0px;
	display:	block !important;
	width:	100%;
	position:	relative;
}


html body .ContentSection{
	display:	block;
	width:		100%;
	position:	relative;
	padding:	0px !important;
	border:		1px solid $secondColour;
	margin-left:-1px;

}

html body .ContentSectionHeader{
	display:	block;
	position:	relative;	
}

#ctl00_rightContent{
	width: 200px;
	padding: 20px 0 0 5px;
	position: relative;
	left: 30px;
}

.WelcomeMessage{
	
	@if $searchPosition == below {
	padding: 40px 0 0 0;
	}@else if $searchPosition == default {
	//default padding
	}

}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------
	3. MODULES
------------------------------*/

.ui-state-highlight{
	border: none !important;
	background: none;
}

.ui-state-highlight span{
	color: $mainColour;
}

.PrimaryColor{
	background:none;
}

/*
	UTILITY NAV
------------------------------*/

#header ul{
	padding-bottom:	5px;
	margin-bottom:	0px;
	padding-top:	10px;
	position:		relative;
}

ul.HeaderText li{	
	padding-left:	5px;
}


#ctl00_pnlUserContext{
	position:	relative;
}


/*
	PRODUCT SEARCH
------------------------------*/
.SearchContainer{

	position: absolute;
	@if $searchPosition == below {
		top: 140px;
	}@else if $searchPosition == default {
		top: 60px;
	}
	right: 0px;
	border: transparent none 0px !important;
}

.SearchTextBox{
	margin: 0px !important;
}

.SearchPanel{
	width: 230px;
    float:right;
    z-index: 199;
    background: #fff;
    padding: 5px;
    border: 2px solid #efefef;	
}

.SearchImageButton{
	position:	relative;
	top:	2px;
	right:	2px;
	width:	18px;
	height:	18px;
}

div#ctl00_pnlSearch input.SearchTextBox{
	width:			200px;
	padding:		0px 0px 0px 5px;
	color:			#ccc;
	top:			5px;
	background-color: transparent;
	border: 0px none transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;	
}

div#ctl00_pnlSearch input.SearchTextBox:active{
	width:			200px;
	padding-left:	5px;
	color:			#ccc;
	top:			5px;
	
}

/*
	MAIN MENU
------------------------------*/
div.NavigationMenu{
	position: relative;
	background: transparent;
	z-index: 10;
	border-bottom: 5px solid $mainColour;
	width:		760px;
}
div.NavigationMenu td.NavigationMenuItem{
	background: $contentBackground;
}

div.NavigationMenu td.NavigationMenuItem, div.NavigationMenu td.NavigationMenuItemSelected{
	border: 0px none !important;
}

div.NavigationMenu table.NavigationMenu td.NavigationMenuItemSelected.NavigationMenuPrimaryColor a{
	background:		$mainColour;
	color:		$navLinkActive;
}

div.NavigationMenu a, div.NavigationMenu a:link, div.NavigationMenu a:visited{
	padding:		5px;
} 

div.NavigationMenu table.NavigationMenu td.NavigationMenuPrimaryColor a, div.NavigationMenu table.NavigationMenu td.NavigationMenuSecondaryColor a{
	font-size: 12px;
	padding: 10px 10px;
	color: $navLinkInactive;
	background: $secondColour;
	margin-right: 2px;
	text-decoration:	none;
	position:	relative;
	top:	0px;
}

div.NavigationMenu table.NavigationMenu td.NavigationMenuPrimaryColor a:hover, div.NavigationMenu table.NavigationMenu td.NavigationMenuSecondaryColor a:hover{
	background:		$mainColour;
	color:			$navLinkActive;
}
.NavigationChildMenuSpacer{
	position:		relative;
	bottom:			120px;

}

.NavigationChildMenu a:visited, .NavigationChildMenu a, .NavigationChildMenu a:link{
	color:	$navLinkActive;
}

/*   Child Menu
----------------------------*/
html body .NavigationChildMenu.PrimaryColor.NavigationMenuPrimaryColor{
	background-color:	$mainColour;
	color:	$navLinkActive;
	/* Fix small pixel issue with sub menu aligning up with main menu */
	position: relative;
	left: 0px;
	width: 750px;
	
}

.NavigationChildMenu
{
	padding: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

/*   Custom Menu Content
----------------------------*/

#header_container p{
	width: 865px;
	padding: 0px;
	margin:	0px;
}

.custom-menu-item-img{
	float:	right;
}

.clear{
	height:	1px;
	weight:	1px;
	clear:	both;
	display:	block;
}

#header_container{
	position:	relative;
	z-index: 9;
}

#dsp-custom-menu-item{
	padding-top: 15px !important;
	padding-bottom: 0px;
	bottom: 135px;
	position: relative;
	background: white;
	z-index: 9;
	font-size: 15px;
	font-weight: normal;
}

#dsp-custom-menu-item .ui-widget-content{
	border:	0px none transparent;
	padding-top:	0px;
}

#dsp-custom-menu-item .ui-widget-content p{
	padding-bottom:	25px;
	line-height:	18px;
}

#dsp-custom-menu-item .ui-widget-content p + p{
	padding-bottom:	0px;
	line-height:	18px;
}


/*
	PRODUCT CATEGORIES
------------------------------*/
#ctl00_cpContent_tdProductCategories{
	
}

#ctl00_cpContent_tdProductCategories .ContentSectionWrapper.SecondaryColor{
	width:		220px;
	color:	#1081ae;
	margin-top:	0px;
	padding-bottom:	15px !important;
}

#ctl00_cpContent_tdProductCategories div table td, #ctl00_cpContent_tdProductCategories div div table{
	border: 0px none transparent;
}	

#ctl00_cpContent_tdProductCategories .ContentSection{
	margin:		0px;
	padding:	0px;
}

td#ctl00_cpContent_tdProductCategories + td .ContentSection{
	display:	block;
	background:	transparent;
	padding:	0px;
	margin-top:	0px;
}

/* category header */
#ctl00_cpContent_tdProductCategories .ContentSectionHeader{
	margin: 		0px 0px 0 0;
	padding: 		8px 0px 6px 20px;
	font-size:		14px;
	border:			0px none;
	border-bottom:  1px solid $secondColour;
	background:		#eee;
	border-radius:	0px;
}

#ctl00_cpContent_tdProductCategories .ContentSectionHeader span{
	font-size:	100%;
}



#ctl00_cpContent_tdProductCategories .ContentSectionBody .ContentSectionHeader span{
	margin:			0px;
	padding:		0px 0px 0px 15px;
	font-weight:	bold;
}

#ctl00_cpContent_tdProductCategories .ContentSectionHeader span span{
	padding-left:	0px;
}

/* active category menu item */
#ctl00_cpContent_tdProductCategories .ContentSectionWrapper .ContentSectionBody .ContentSectionHeader{
	border-bottom:	0px none;
	background:		transparent;
}

/* LINKS IN CATEGORIES BOX BLANKET */
#ctl00_cpContent_tdProductCategories .ContentSectionBody a span span, .ContentSectionHeader a span span{
	font-size:		12px;
	font-weight:	normal;
	padding-left:	30px;
}

#ctl00_cpContent_tdProductCategories .ContentSectionBody a span{
	background-color:	transparent;
	transition: 		background-color .1s;
	-moz-transition: 	background-color .1s; /* Firefox 4 */
	-webkit-transition: background-color .1s; /* Safari and Chrome */
	-o-transition: 		background-color .1; /* Opera */
}

#ctl00_cpContent_tdProductCategories .ContentSectionBody a span:hover{
	background-color:	#efefef !important;
	
	transition: background-color .2s;
	-moz-transition: background-color .2s; /* Firefox 4 */
	-webkit-transition: background-color .2s; /* Safari and Chrome */
	-o-transition: background-color .2s; /* Opera */

}

.ContentSectionHeader a:hover, .ContentSectionBody a:hover, .ContentSectionHeader a:visited, .StandardColor.ui-widget-content a, .StandardColor.ui-widget-content a:visited{
	text-decoration:		none;
	color:					$productLinkColour;
}

/* LINKS IN CATEGORIES BOX */
html body .ContentSectionBody{
	border:	0px none transparent;
}

/* ACTIVE LINK IN CATEGORIES BOX */
#ctl00_cpContent_tdProductCategories .ContentSectionHeader a span span{
	color:				#1081ae;
	font-weight:		bold;
}

#ctl00_cpContent_tdProductCategories .ui-widget-content{
	border:				0px none transparent;
	padding:			5px 0px 5px 0px;
}


/* PMV Main Area  */
#ctl00_cpContent_tdProductCategories + td .ContentSectionWrapper{
	/*width:			690px;*/
	margin-left:	0px;
	margin-top:		0px;

}

#ctl00_cpContent_tdProductCategories + td .ContentSectionWrapper .ContentSectionBody{
	border:	0px none transparent;
}

#ctl00_cpContent_tdProductCategories + td .ContentSectionHeader.ui-widget-header{
	padding: 	8px 0px 6px 20px;
	font-size: 	14px;
	position: 	relative;
	bottom: 	0px;
	border: 	0px none;
	border-bottom: 1px solid #CCC;
	right: 		0px;
	background: #EEE;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#ctl00_cpContent_tdProductCategories div.ContentSectionWrapper .ContentSectionBody tr td{
	padding:	4px 0px 4px 0px;
}


/*
  OLD OTH STYLES
-----------------------------*/

html>body
{
	height:auto;
	background-color: $background;
}

#mainSpacer{
	position:	relative;
	padding-right:	15px;
}


/*
  CAROSEL OVERRIDE FOR CONTROLS
-----------------------------*/

#myCarousel .carousel-control.left {
	left: -23px;
	padding: 0 0px;
	width: 15px;
	border-radius: 20px;
	border-color: #999;
}

#myCarousel .carousel-control.right {
	right: -23px;
	padding: 0 0px;
	width: 15px;
	border-radius: 20px;
	border-color: #999;
}

/*
  SPECIFIC PAGES
---------------------------------*/

/*  product details
------------------------*/
html body table#ctl00_cpContent_fvOfferingDetails_tblOffering tr td{
	height:	auto;
}

html body table#ctl00_cpContent_fvOfferingDetails_tblOffering h3{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	line-height: inherit;
	padding-right: 10px;
}

#content h1{
	font-size: $titleSize;
}

.ContentSectionWrapper .ContentSection .ContentSectionHeader h1{
	font-size:		14px;
	margin:			0px;
	padding:		0px;
	line-height:	inherit;
}


.ContentSectionWrapper .ContentSection .ContentSectionHeader h2{
	font-size:		20px;
	margin:			0px;
	padding:		0px;
}


.ContentSectionWrapper .ContentSection .ContentSectionHeader h3, .ContentSectionWrapper .ContentSection .ContentSectionBody h3 {
	font-size:		13px;
	margin:			0px;
	padding:		0px;
	line-height:	21px;
}

html body .ui-widget-header{
	background:		$secondColour;
	border:	0px none;
}

/* BUTTONS */
html body .buttons{
	text-align:	center !important;
}



html body .buttons button img, html body .buttons a img{
	margin: -3px 3px -3px 0 !important;
	padding: 0 10px 0 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* jQUERY UI OVERRIDE */

div[class*='ui-corner']{
	border-radius: 0px !important;
}

#contentHeading{
	width:		760px;
/*	padding:	10px 0 10px 0; */
}

#contentHeading #ctl00_LocalizedValidationSummary1{
	padding-top: 10px;
	padding-bottom: 10px;		
}

/* SDM DOWNLOAD PAGE */

div#main-container{
width:		100% !important;
}

div#main-container div#main-content{
position: relative;
width: 760px;
margin: -20px auto 0 auto;

}

html body .fancy-box.ds-home{
	background:		#fff;
	border-top:	0px none;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1) !important;
	background: white !important;
	margin:		0 10px;
	padding-top:	100px;
}

html body .sdmheading{
	width: 		560px;
	margin: 	auto;
	position:	absolute;
	top:		30px;
	left:		50px;
	z-index:	100;
	overflow: visible;
	line-height:40px;
}
html body .sdm-contactus-img{
	margin: 	auto;
	position:	absolute;
	top:		30px;
	right:		20px;
	z-index:	100;
}

div#main-container, div#footer-content{
	
}

/* SDM APP */
html body .PageHeaderContainer{
	position:	 relative;
	z-index:	99999;
}

html body .SecondaryColor.OrderHeader{
background: #EEE;
border-top: 1px solid #CCC;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
}

#languageControl{
	z-index:		999;
	position:		relative;
}

.dropdown dd, #language-selector, #language-selector option, #languageControl dl, #languageControl dl dt{
	position:	relative;
	z-index:	99999;
	color:	lime !important;
}

#languageControl dl dd ul{
	z-index:		9999;
	position:		absolute;
	left:			0px;
}

#languageControl dl dd ul li{
	position:	relative;
	z-index:	99999;
}

#languageControl dl dd ul li a{
	position:	relative;
	z-index:	999999;
}

.PageHeaderInner .PageHeaderTitle{
	display:	none;
}

html body .PageHeaderContainer .PageHeaderInner .PageHeaderLinks{
	position: relative;
	z-index:	998px;
}

.PageHeaderContainer + #header{
	position: relative;
	margin-bottom: -20px;
	margin-top: -20px;
}

/* TABS  */
html body .ContentSectionBody .ui-tabs-nav li a, html body .ContentSectionBody .ui-tabs-nav li a:visited{
	color:		#666;
}

/* A bunch of buttons that should look the same */
.AddToCartButton, .buttons a.positive, button.positive, #ctl00_cpContent_btnAddExtendedAccessGuarantee, input[id*='btnRemove'], input[id*='btnUpdateQuantityChanges'], a#ctl00_cpContent_lhContinueShopping, input#ctl00_cpContent_btnNext, a#ctl00_cpContent_btnNext, #ctl00_cpContent_btnContinue, input[id*='btnBuyAccessGuarantee'], a#ctl00_cpContent_ucOrderSummary_efvBillingInformation_ucOrderItemSummary_hlStartDownload, a.ds-button.sdm, a.ds-button.sdx, html body .buttons a, a#ctl00_cpContent_hlFAQ, .faqButton, html body .faqButton:hover{

display: inline-block;
padding: 4px 14px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333 !important;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: whiteSmoke;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
background-image: -webkit-linear-gradient(top, white, #E6E6E6);
background-image: -o-linear-gradient(top, white, #E6E6E6);
background-image: linear-gradient(to bottom, white, #E6E6E6);
background-image: -moz-linear-gradient(top, white, #E6E6E6);
background-repeat: repeat-x;
border: 1px solid #BBB;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #A2A2A2;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

html body .buttons a[disabled], html body .buttons a[disabled]:active{
cursor: default;
background-color: #E6E6E6;
background-image: none;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color:	inherit;
}

/* Little fix for the SDM for Windows/IE */

html body a#ctl00_cpContent_hlFAQ{
	background-color: whiteSmoke !important;
	background-image:	none !important;
}

/* hovers */
.AddToCartButton:hover, .buttons a.positive:hover, button.positive:hover, #ctl00_cpContent_btnAddExtendedAccessGuarantee:hover, input[id*='btnRemove']:hover, input[id*='btnUpdateQuantityChanges']:hover, a#ctl00_cpContent_lhContinueShopping:hover, input#ctl00_cpContent_btnNext:hover, a#ctl00_cpContent_btnNext:hover, #ctl00_cpContent_btnContinue:hover, input[id*='btnBuyAccessGuarantee']:hover, a#ctl00_cpContent_ucOrderSummary_efvBillingInformation_ucOrderItemSummary_hlStartDownload:hover, a.ds-button.sdm:hover, a.ds-button.sdx:hover, a#ctl00_cpContent_hlFAQ:hover, html body .faqButton:hover{
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6 !important;
  border-color:		#ccc !important;
  *background-color: #e6e6e6/*#d9d9d9*/;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}


img#ctl00_cpContent_fvOfferingDetails_imgProduct{
	max-width: none !important;
}

/* Order Confirmation */

#ctl00_cpContent_ucOrderSummary_efvBillingInformation{
	width:	760px !important;
}

html body img{
		max-width:	inherit;
}

img[id*='imgSmallProduct']{
	margin-bottom: 25px;
	margin-top: 15px;
	max-width:	inherit;
}

input[id*='txtQuantity']{
	width:		40px;
}	

/* MSRP FONTSIZE */
html body .Price{
	color: red;
	font-weight: normal;
	font-size: 30px;
	padding: 5px 0px;
	display: block;
	line-height:	30px;
}

span[id*='lblSavings']{
	font-weight: normal;
	font-size: 16px !important;
	display: block;
	text-align: right;
	padding:	3px 0;
}

html body .AddToCartSavings{
	font-size:	inherit;
}

/* Get rid of Small classes */
.SmallGray, .Small, .SmallLightText{
	font-size:		inherit;
	color: $subFontColour;
}


/* IE STUFF */
html body .ProducerTable{
	width:		100%;
	display:	table;
}

html body form[action*="SdmAuthorize.aspx"] #mainSpacer{
	left:		0px !important;
}

/* end  MAIN STYLES */


/* custom styles start*/

html body #mainSpacer{
		margin:		0 auto;
		transition: 1s ease-in;
		left:		0px;
}

/* Footer image size issue */

#footer .FooterText + table tr td a{
    height:     inherit;
    display:    inline-block;;
}

/* Removes styles from newly-added Help search field */

#ctl00_cpContent_pnlSearch input#ctl00_cpContent_txtHelpSearchName{
	background-color: transparent;
    border: 0 none transparent;
    box-shadow: none;
    padding: 0 0 0 5px;
    font-size: 12px;
}


.ContentText, .FooterText, .HeaderText, .ContentSectionBody{
	color: $fontColour;
}

.HeaderText a:hover, .ContentText a:hover, .FooterText a:hover{
	color: $linkHoverColour;
}

.ui-widget-header, .ui-widget-content h2, .ui-widget-header .Small{
	color: $headerTextColour;
}

.ui-widget-content{
	background: $widgetBackground;
}

html body .ui-dialog{
	z-index: 99999;
}